@model IEnumerable<parcialFinalWebEntidades.certificadoscursos>

@{ ViewBag.Title = "Index"; }

<h2>Certificados Cursos @ViewBag.NombreUsuario</h2>

<p>
    @Html.ActionLink("Agregar Certificados Cursos", "CrearCertificadosCursos", new { id = ViewBag.IdUsuario }, new { @class = "btn btn-primary" })
</p>

<table class="table table-light table-striped">
    <tr>
        <th>
            Nombre del certificado de curso
        </th>
        <th>
            Institución del certificado de curso
        </th>
        <th>
            Descripción del certificado de curso
        </th>
        <th>
            Enlace
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.nombre
    </td>
    <td>
        @item.institucion
    </td>
    <td>
        @item.descripcion
    </td>
    <td>
        @item.enlace
    </td>
    <td>
        @Html.ActionLink("Editar", "EditarCertificadosCursos", new { id = item.idCertifiado }) |
        @Html.ActionLink("Eliminar", "EliminarCertificadosCursos", new { id = item.idCertifiado })
    </td>
</tr>}
</table>

@Html.ActionLink("Regresar a usuarios", "Index", "usuarios", null, new { @class = "btn btn-outline-danger" })