@model IEnumerable<parcialFinalWebEntidades.habilidades>

@{ ViewBag.Title = "Index"; }

<h2>Experiencias @ViewBag.NombreUsuario</h2>

<p>
    @Html.ActionLink("Agregar Habilidad", "CrearHabilidad", new { id = ViewBag.IdUsuario }, new { @class = "btn btn-primary" })
</p>

<table class="table table-light table-striped">
    <tr>
        <th>
            Habilidad
        </th>
        <th>
            Calificacion de Habilidad
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.habilidad
    </td>
    <td>
        @item.calificacion
    </td>
    <td>
        @Html.ActionLink("Editar", "EditarHabilidad", new { id = item.idHabilidad }) |
        @Html.ActionLink("Eliminar", "EliminarHabilidad", new { id = item.idHabilidad })
    </td>
</tr>}
</table>
@Html.ActionLink("Regresar a usuarios", "Index", "usuarios", null, new { @class = "btn btn-outline-danger" })