@model IEnumerable<parcialFinalWebEntidades.gradosacademicos>

@{
    ViewBag.Title = "Index";
}

<h2>Grados academicos @ViewBag.NombreUsuario</h2>

<p>
    @Html.ActionLink("Agregar grado academico", "crearGrado", new { id = ViewBag.IdUsuario }, new { @class = "btn btn-primary" })
</p>

<table class="table table-light table-striped">
    <tr>
        <th>
            Universidad
        </th>
        <th>
            Profesion
        </th>
        <th>
            Objetivo
        </th>
        <th>opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.universidad
            </td>
            <td>
                @item.profesion
            </td>
            <td>
                @item.objetivo
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarGrado", new { id = item.idGrado }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "EliminarGrado", new { id = item.idGrado }, new { @class = "btn btn btn-danger" })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Regresar a usuarios", "Index", "usuarios", null, new { @class = "btn btn-outline-danger" })
